.files input {
    outline: 2px dashed #92b0b3;
    outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
    padding: 20% 6% 20% 40%;
    text-align: center !important;
    margin: 0;
    width: 100% !important;
}

.files input:focus {
    outline: 2px dashed #92b0b3;
    outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
    border: 1px solid #92b0b3;
}

.files {
    position: relative
}

.files:after {
    pointer-events: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 50px;
    right: 0;
    height: 56px;
    content: "";
    background-image: url(https://image.flaticon.com/icons/png/128/109/109612.png);
    display: block;
    margin: 0 auto;
    background-size: 100%;
    background-repeat: no-repeat;
}

.color input {
    background-color: #f1f1f1;
}

.files:before {
    position: absolute;
    bottom: 10px;
    left: 0;
    pointer-events: none;
    width: 100%;
    right: 0;
    height: 57px;
    content: " or drag it here. ";
    display: block;
    margin: 0 auto;
    color: #2ea591;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
}

.nav-tabs{
    border-bottom: 0px !important;
    height: 2.5em !important;
}
.nav-tabs .nav-link {
    border-radius: 20px;
    width: 50%;
    background-color:#e2e2e2 !important;
    color: #017bff;
    font-weight: bold;
    padding-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.nav-tabs .nav-link.active{
    background-color: #017bff !important;
    color: #ffffff;
    
}

.panelDocument{
    border-radius: 25px;
    background-color: #e2e2e2;
}


tbody div{
    overflow:scroll;
    height:50px;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    display: none; 
}


iframe::-webkit-scrollbar {
    width: 8px;
    background-color: rgb(119 23 23 / 60%);
}


a{
    cursor: pointer;
}
.modal-body > .form-group > label.col-form-label {
    font-size: 14.5px;
}