/* pdf viewer css */

.pdf-viewer {
    margin: 0 auto;
}

.react-pdf__Document {
    box-shadow: 0 30px 40px 0 rgb(16 36 94 / 20%);
}

.page-controls {
    position: relative;
    bottom: 5%;
    left: 50%;
    background: white;
    transform: translateX(-50%);
    transition: opacity ease-in-out 0.2s;
    box-shadow: 0 30px 40px 0 rgb(16 36 94 / 20%);
    border-radius: 4px;
    text-align: center;
}

.page-controls button:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.page-controls button {
    width: 44px;
    height: 44px;
    background: white;
    border: 0;
    font: inherit;
    font-size: 0.8em;
    border-radius: 4px;
}

.page-controls span {
    font: inherit;
    font-size: 0.8em;
    padding: 0 0.5em;
}

.page-controls button:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.react-pdf__Page {
    max-width: max-content;
    width: 90vw;
}

.react-pdf__Page__svg {
    width: auto !important;
    height: auto !important;
    border-radius: 8px;
}